<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>summarize.me - Text Summarization Tool</title>

    <link rel="shortcut icon" href="{{url_for('static', filename='assets/images/logo.png')}}" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/fontawesome.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/templatemo-cyborg-gaming.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/owl.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/animate.css')}}">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav ">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">
                            <!-- <img src="{{url_for('static', filename='assets/images/logo.png')}}" alt=""> -->
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h3 class="animate-charcter">summarize.me</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Search End ***** -->
                        <div class="search-input">
                            <form id="search" action="#">
                                <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
                                <i class="fa fa-search"></i>
                            </form>
                        </div>
                        <!-- ***** Search End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/" class="active">Home</a></li>
                            <li><a href="/compare_summary" class="active">Compare</a></li>
                            <li></li>
                            <!-- <li><a href="profile.html">Profile <img src="assets/images/profile-header.jpg" alt=""></a></li> -->
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="fluid-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">

                    <div class="most-popular">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="row">
                                            <form action='/' class="item" id="urlInputForm" method="post">
                                                <div class="formgroup">
                                                    <input type="text" id="url" name="url" placeholder="Paste URL here.." title=" " required />
                                                    <button type="submit" id="genURLSummary"><span id="btnTxt2">Generate Summary</span><span class="spinner"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="row mt-2">
                                            <form action='/' class="item" id="userInputForm" method="post">
                                                <div class="formgroup">
                                                    <textarea id="message" name="text" placeholder="Enter text here.." title=" " required></textarea>
                                                    <button type="submit" id="genSummary"><span id="btnTxt">Generate Summary</span><span class="spinner"></span></button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                    <div class="col-lg-6 col-sm-12">
                                        <h2 class="p-3 mt-3 text-center">Summary</h2>
                                        <h3 class="text-center">(Pegasus)</h3>
                                        <form action="" class="item mt-5">
                                            <div class="formgroup">
                                                <textarea id="pegasus_summary" name="message" readonly></textarea>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>

    <script src="{{url_for('static', filename='assets/js/isotope.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/owl-carousel.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/tabs.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/popup.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/custom.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/main.js')}}"></script>

</body>

</html>